<% provide(:title, "Update") %>
<div class="form-container" id="form-sizing">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name, class: :label_field %>
      <%= f.text_field :first_name, class: :in_field, id: :input_sizing %>
    </div>

    <div class="field">
      <%= f.label :surname, class: :label_field %>
      <%= f.text_field :surname, class: :in_field, id: :input_sizing %>
    </div>

    <div class="field">
      <%= f.label :username, class: :label_field %>
      <%= f.text_field :username, class: :in_field, id: :input_sizing, :minlength=> "3", :maxlength=> "25" %>
    </div>

    <div class="field">
      <%= f.label :email, class: :label_field %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :in_field, id: :input_sizing %>
    </div>

    <div class="field">
      <%= f.label :new_password, class: :label_field %>
      <%= f.password_field :password, autocomplete: "off", class: :in_field, id: :input_sizing, :placeholder => 'Minimum of 6 characters', :minlength=> "6" %>
      <% if @minimum_password_length %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: :label_field %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: :in_field, id: :input_sizing, :minlength=> "6" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: :label_field %>
      <%= f.password_field :current_password, autocomplete: "off", class: :in_field, id: :input_sizing, required: :required, :minlength=> "6" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: :submit %>
    </div>
  <% end %>

</div>
<div class="sub-form">
  <div class="actions">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete%>
  </div>
  </div>
