<% @posts.each do |post| %>
<div class="post-container">
  <%= link_to  user_path(post.user) do %>
    <div class="user-info">
      <% if !post.user.avatar.file.nil? %>
          <%= image_tag(post.user.avatar.main.url, class: :user_image) %>
      <% end %>
      <p class="user_name"><%= post.user.username %></p>
    </div>
  <% end %>

  <%= link_to image_tag(post.post_image.main.url, class: :post_image), post_path(post) %>

  <div class="post-info">
    <div id="post_<%= post.id %>">
      <% if liked?(post) %>
        <%= render "partials/hunlike", post: post %>
      <% else %>
        <%= render "partials/hlike", post: post %>
      <% end %>
    </div>

    <p id="likes_<%= post.id %>"><%= pluralize(post.likes.count, "Like") %></p></br>

    <p class="caption_line post-caption" id="username"><%= post.user.username %></p>
    <p class="caption_line"><%= "  #{post.caption}" %></p></br>

    <div id="comments_<%= post.id %>">
      <% if post.comments.length > 0 %>
        <%= render "partials/hcomments", post: post %>
      <% end %>
    </div>

    <div id="comment_form_<%= post.id %>">
      <%= render "partials/hcomment_form", post: post %>
    </div>

  </div>

</div>



<% end %>
