<div class="form-container">
<%= form_for @post, :html =>{:multipart => true}  do |f| %>
  <div class="actions">
    <%= f.file_field :post_image %>
  </div>

  <div class="field">
    <%= f.text_field :caption, :placeholder => 'Title', class: :in_field %>
  </div>

  <div class="field">
    <%= f.fields_for :tags do |tag_form| %>
      <%= tag_form.text_field :hashtag, :placeholder => '#tag...', class: :in_field %>
    <% end  %>
  </div>
  <div class="actions">
    <%= f.submit "Post ", class: :submit %>
  </div>
  <% end %>
</div>
