<% provide(:title, @user.username) %>
<div class="form-container">
  <h2 id="update-avatar">Update Avatar</h2>
  <div id="avatar-box">
    <% if !@user.avatar.file.nil? %>
      <%= image_tag @user.avatar.main.url, class: :avatar  %>
    <% else %>
      <%= image_tag "liked.png", class: :avatar  %>
    <% end %>
  </div>
  <%= form_for((@user), :html =>{:multipart => true})  do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <div class="actions">
      <%= f.file_field :avatar %>
    </div>
    <div class="actions" id="upload">
      <%= f.submit "Upload", class: :submit %>
    </div>
  <% end %>
</div>
