<h1>Posts</h1>
<div class="box">
<p>This is a Post</p>
<%= image_tag @post.post_image_url %>
<p> Post caption : <%= @post.caption %></p>
<p> Posted by : <%= link_to "#{@post.user.username}", user_path(@post.user) %></p>
<%= render 'partials/tags' %>
<p>Likes: <%=@post.likes.length %></p>
  <% if liked?(@post) %>
    <%= render "partials/unlike" %>
  <% else %>
    <%= render "partials/like" %>
<% end %>
</div>

<% if @post.user === current_user %>
<div class="box">
  <%= render "partials/delete_post" %>
</div>
<% end %>

<div class="box">
  <%= render "partials/comment_form" %>
</div>

<% if @post.comments.length > 0 %>
<div class="box">
  <%= render "partials/comments" %>
</div>
<% end %>
