
<header>
  <div class="header-box">
    <div class="thirds">
    <%= link_to root_url do %>
      <div class="logo-image">
        <%= image_tag "logo.PNG", class: :gylph %>
      </div>
      <div class="logo-text">
        Instagram
      </div>
      <% end %>
    </div>
      <div class="thirds middle">
        <div class="search">
          search
        </div>
      </div>
      <div class="thirds">
        <div class="glyph-cont">
          <%= link_to image_tag("user.png", class: :gylph), user_path(current_user)  %>
        </div>

        <div class="glyph-cont">
          <%=  image_tag "activity.png", class: :gylph  %>
        </div>
        <div class="glyph-cont">
          <%= link_to image_tag("explore.png", class: :gylph), explore_path  %>
        </div>
      </div>

  </div>

</header>
