<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('icon.ico'), :rel => 'icon', :type =>  'image/png' %>

<title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header" %>
      <% end %>
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
    <%= yield %>
  </body>
</html>
